<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>These Words</title>
</head>
<body>
    <h1>These Words</h1>
    <h3>Multiply {{5 * 6}}</h3>
    <h3>Generated number {{num}}</h3>
    <h2>Hey {{name.title()}}</h2>
    <h3>I think you are {{gender}}</h3>
    <h3>And you are likely {{age}} years young</h3>
    <footer>@Copyright {{year}}Ashley Zawadi</footer>
</body>
</html>

<!-- Templating language jinja allows you to include python code in your html files so you can add variables -->
